body {
    font-family: 'Gantari', sans-serif;
}

h1 {

    font-size: 70px;
    color: white;
}

p {
    color: white;
}


.full-width {
    width: 100%;
    text-align: center;
}

.donate-button {
    text-decoration: none;
    background-image: radial-gradient(orange, tomato);
    color: rgb(250, 239, 239);
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/boy-in-flood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
    margin: 0%;
    padding: 0%;
}

.second-h1 {
    color: black;
}

.second-p {
    color: white;
    font-size: 20px;
}

.second-section {
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: cover;
    height: 100vh;
}

b {
    font-size: 50px;
}

.Tk {
    font-size: 30px;
}

.second-donate {
    text-decoration: none;
    background-image: radial-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 15px;
    color: white;
}